* {
  font-family: "Open Sans", sans-serif;
}

#chart_1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;

}

#chart_2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;

}

#chart_3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;

}